/*
-----------------------------------------------------------
WEB PAGE STYLE RESET

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
-----------------------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
-----------------------------------------------------------
    EMBEDED GOOGLE FONTS (LATIN)
-----------------------------------------------------------
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;   
}


/*
-----------------------------------------------------------
ESTABLISHING THE NEW CSS3 BOX-SIZING PROPERTY - GRID
-----------------------------------------------------------
*/

*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;      
                box-sizing: border-box; 
}

/*
-----------------------------------------------------------
CUSTOM TYPOGRAPHY STYLES
-----------------------------------------------------------
*/

body {
    color: #001E2D;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    color: #005C91    
}

h1 {
    font-size: 3em;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    line-height: 150%;
    font-weight: 900;
}   

h3 {
    font-size: 2em;
}

a:hover {
  color: #005C91;
}
a {
  color: #001E2D;
}

/*
-----------------------------------------------------------
LOGO STYLES
-----------------------------------------------------------
*/

.logoNav {
    float: left;
    padding-right: 20px;
    margin-left: 20px;
}

/*
-----------------------------------------------------------
FOOTER STYLES
-----------------------------------------------------------
*/
footer {
    color: #fff;
    font-size: 0.8em;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    background: #001E2D;
    height: auto;
}

.footerLink {
    float: right;
    background:#005C91; 
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 900;
    color: #fff;
    text-align: right;
    margin-right: 2.5%;
    margin-bottom: 5%;
    padding:20px 40px 20px 40px;
    width:auto;
    text-align: center;
}

.footerContainer {
    width: 66%;
    font-style:italic;
    font-size: 1.2em;
}

/*
-----------------------------------------------------------
SUBSECTION STYLES
-----------------------------------------------------------
*/







.container {
    clear: left;
    margin-top: 30px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}

.container2 {
    margin-top: 30px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    type-style:
}


.hero {
    padding: 22px 80px 66px 80px;
}
    
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 22px;
    margin-top: 22px;
}

/*
-----------------------------------------------------------
BUTTONS STYLES
-----------------------------------------------------------
*/

.btnNav {
    border-radius: 5px;
    margin: 0;
    border: 1px solid #dfe2e5; 
    padding: 10px 30px;

}

.btn-alt {
    border: 1px solid #dfe2e5; 
    padding: 10px 30px;
}

/*
-----------------------------------------------------------
MAIN NAVIGATION BAR
-----------------------------------------------------------
*/

.mainNav {
    float: left;
    width: auto;
    margin:0;
    padding:0; 
    background:clear;
    border-bottom: 1px solid #001E2D;
}

.mainNav li {
    display:inline-block;
    padding:0;
    margin:0;
}

.mainNav a:link, 
.mainNav a:visited {
    text-decoration: none;
    background:clear;
    padding:20px 40px 20px 40px;
    width:auto;
    float:left;
    font-size: 1.5em;
    color: #001E2D;
    text-align: center;
}
 
.mainNav a:hover, 
.mainNav a:active {
    text-decoration: none;
    background:#0069A5;
    color: #FFFFFF;
}

/*
-----------------------------------------------------------
POSITIONING CONTENT ON HOME PAGE
-----------------------------------------------------------
*/

.col1-3 {
    width: 33.33%;
}

.col2-3 {
    width: 66.66%;
}

.col1-3,
.col2-3 {
    display: inline-block;
    vertical-align: text-bottom;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #001E2D;
}


/*
-----------------------------------------------------------
LINK STYLES
-----------------------------------------------------------
*/

/*
.mainNav li:link {
   
    text-decoration: none;
    background-color: #B2FF99;
}
.mainNav li:visited {
    text-decoration: none;
    background-color: #FFFF85;
}
.mainNav li:hover {
    text-decoration: underline;
    background-color: #FF704D;
}
.mainNav li:active {
    text-decoration: underline;
    background-color: #FF704D;
}
*/



/*
---------------------------------------------------------
/* From here we start the styling specific elements/tags of The Blunt Web Site */



}
